<div id="wrapper">
      <h1>Note Scraper</h1>
      <h2><i>If you can do this...the homework should be no problem.</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>




      
        <div class="col-md-4 title2">
            <h3>Devoured</h3>
            <ol>
                {{#each burgersota}}
                {{#if devoured}}
                {{> burgerList/list-buttons devour=false}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
