<hr>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-8">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-sm-5 title1">
                        <h3>Waitin' for devourin'</h3>
                        <ol>
                            {{#each burgersota}}
                            {{#unless devoured}}
                            {{> burgerList/list-buttons devour=true}}
                            {{/unless}}
                            {{/each}}
                        </ol>
                    </div>
                    <div style="text-align: center" class="col col-md-7 center">
                        <h1>Gobble up Ur Burger</h1>
                        <img src="/assets/img/burger.png" alt="">

                        <form class="create-form">
                            <div class="form-group">
                                <br>
                                <!-- <label for="bName"><br>Burger Name:</label> -->
                                <textarea rows="2" cols="30" type="text" id="burgerN" name="burger_name"
                                    placeholder="Type the name of your new burger"></textarea>
                                <br>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 title2">
            <h3>Devoured</h3>
            <ol>
                {{#each burgersota}}
                {{#if devoured}}
                {{> burgerList/list-buttons devour=false}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>